.GaleriaSection {
  min-height: 100vh;
  background-color: var(--bg-color);
}

.GaleriaGrid {
  width: min(40vw, 1100px);
  aspect-ratio: 3 / 2;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;

  grid-template-areas:
    "img1 img2 img3 "
    "img4 img5 img6";
}

.Galeria-imgDiv:nth-child(1) {
  grid-area: img1;
}
.Galeria-imgDiv:nth-child(2) {
  grid-area: img2;
}
.Galeria-imgDiv:nth-child(3) {
  grid-area: img3;
}
.Galeria-imgDiv:nth-child(4) {
  grid-area: img4;
}
.Galeria-imgDiv:nth-child(5) {
  grid-area: img5;
}
.Galeria-imgDiv:nth-child(6) {
  grid-area: img6;
}

.Galeria-imgDiv {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.Galeria-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
