.ReservasPage {
  min-height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.SubHeader {
  padding: 60px 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.SubHeader-icon {
  font-size: 3rem;
  color: var(--sec-color);
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
}
.SubHeader-title {
  font-size: 4.375rem;
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  color: var(--sec-color);
}

.SubHeader-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.SubHeader-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--text-color);
}

/* content */
.Reservas-content {
  flex: 1;
  width: 80%;
  display: flex;
  justify-content: flex-start;
}

.Reservas-h2 {
  position: fixed;
  top: 42%;
  left: -13%;
  width: fit-content;
  transform: rotate(-90deg);
  font-size: 8rem;
  font-family: "Bebas Neue", sans-serif;
  color: var(--main-color);
}

.Reservas-steps {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 100%;
  padding-right: 14%;
}

.Reservas-titleStep {
  position: relative;
  font-size: 1.5rem;
  font-weight: 400;
}

.Reservas-titleLine {
  width: 100%;
  display: inline-block;
  height: 1px;
  border-bottom: 1px solid var(--text-color);
}

/* reservas paso 1 */

.Seleccion-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding-top: 60px;
}

.Servicio-div {
  cursor: pointer;
  background-color: white;
  padding: 16px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
  min-height: 140px;
  transition:
    box-shadow 0.08s ease-in-out,
    background-color 0.08s ease-in-out;
}

.Servicio-div:hover {
  box-shadow: 0 4px 12px #24257f34;
  background-color: #e1e1fa;
}

.Servicio-div:active {
  background-color: #ededfe;
}

.Servicio-title {
  pointer-events: none;
  font-size: 1.25rem;
  font-weight: 400;
}
.Servicio-tiempo {
  pointer-events: none;

  font-size: 1rem;
  font-weight: 400;
  color: #a69d9d;
}
.Servicio-precio {
  pointer-events: none;
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--main-color);
}

/* paso 2 fecha y hora */

.Reservas-contentCalendar {
  display: flex;
  gap: 80px;
}

/* paso 3 datos */

.Reservas-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 60px;
}

.Reservas-rowForm {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10%;
}

.Reservas-label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 1.25rem;
}

.Reservas-input {
  font-size: 1rem;
  background: none;
  padding-bottom: 8px;
  border: none;
  border-bottom: 1px solid #a69d9d;
  transition: border-bottom 0.2s ease-in-out;
}

.Reservas-input:focus {
  border-bottom: 1.4px solid #333;
}

.Reservas-input:focus-visible {
  outline: none;
  border-bottom-color: #333;
}
