.ReservasPage {
  min-height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SubHeader {
  padding: 60px 40px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
}

.SubHeader-icon {
  font-size: 3rem;
  color: var(--sec-color);
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  justify-self: start;
}
.SubHeader-title {
  justify-self: center;
  text-align: center;
  font-size: 4.375rem;
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  color: var(--sec-color);
}

.SubHeader-links {
  justify-self: end;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.SubHeader-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.06s ease-in-out;
}

.SubHeader-link:hover {
  color: var(--main-color);
}

/* content */

.Reservas-content {
  flex: 1;
  width: 70%;
  display: flex;

  justify-content: flex-start;
}

.Sticky-title {
  position: relative;
}

.Reservas-h2 {
  position: sticky;
  top: 42%;
  transform: rotate(-90deg) translateX(-40%);
  transform-origin: left top;
  width: fit-content;
  font-size: clamp(64px, 8vw, 120px);
  font-family: "Bebas Neue", sans-serif;
  color: var(--main-color);

  /* para que se vea "fuera" */
  margin-left: -180px; /* lo empuja hacia fuera del section */
}

.Reservas-steps {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 100%;
  /* padding-right: 14%; */
}

.Reservas-titleStep {
  position: relative;
  font-size: 1.5rem;
  font-weight: 400;
}

.Reservas-titleLine {
  width: 100%;
  display: inline-block;
  height: 1px;
  border-bottom: 1px solid var(--text-color);
}

/* reservas paso 1 */

.Seleccion-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding-top: 60px;
}

.Servicio-div {
  cursor: pointer;
  background-color: white;
  padding: 16px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
  min-height: 140px;
  transition:
    box-shadow 0.08s ease-in-out,
    background-color 0.08s ease-in-out,
    color 0.08s ease-in-out;
}

.Servicio-div:not(.Servicio-selected):hover {
  box-shadow: 0 4px 12px #24257f34;
  background-color: #e1e1fa;
}

.Servicio-selected {
  background-color: var(--main-color);
  color: white;
}

.Servicio-div:active {
  background-color: #ededfe;
}

.Servicio-title {
  pointer-events: none;
  font-size: 1.25rem;
  font-weight: 400;
}
.Servicio-tiempo {
  pointer-events: none;

  font-size: 1rem;
  font-weight: 400;
  color: #a69d9d;
}
.Servicio-precio {
  pointer-events: none;
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--main-color);
  transition: color 0.08s ease-in-out;
}
.Servicio-precioSelected {
  color: white;
}
/* paso 2 fecha y hora */

.Reservas-contentCalendar {
  display: flex;
  gap: 80px;
}

/* paso 3 datos */

.Reservas-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 60px;
}

.Reservas-rowForm {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10%;
}

.Reservas-label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 1.25rem;
}

.Reservas-input {
  font-size: 1rem;
  background: none;
  padding-bottom: 8px;
  border: none;
  border-bottom: 1px solid #a69d9d;
  transition: border-bottom 0.2s ease-in-out;
}

.Reservas-input:focus {
  border-bottom: 1px solid #333;
}

.Reservas-input:focus-visible {
  outline: none;
  border-bottom-color: #333;
}

/* paso 4 */

.Reservas-resumenDiv {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 60px 0;
}

.Reservas-button {
  font-size: 1.05rem;
  text-decoration: none;
  border: 3px solid #24257f;
  color: #24257f;
  padding: 14px 28px;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
  white-space: nowrap;
  cursor: pointer;
}

.Reservas-button:hover:not(.Reservas-buttonDisabled) {
  background-color: #24257f;
  color: #f2f3f5;
  transform: scale(1.05);
}

.Reservas-buttonDisabled {
  border: 2px solid #a69d9d;
  color: #a69d9d;
  cursor: default;
}

.Reservas-resumenContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  padding: 56px 34px;
  min-height: 180px;
  min-width: 680px;
  gap: auto;
}

.Reservas-resumenCorte {
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.Reservas-dataCitaImportant {
  font-weight: 600;
  font-size: 1.25rem;
}

.Reservas-spanTime {
  font-weight: 600;
  color: #a69d9d;
}

.Reservas-esperando {
  font-size: 1.25rem;
  font-weight: 500;
  color: #a69d9d;
}

@media (max-width: 900px) {
  .SubHeader {
    grid-template-columns: 1fr;
    gap: 24px;
    text-align: center;
  }

  .SubHeader-links {
    align-items: center;
  }
  .Reservas-h2 {
    text-align: center;
    left: auto;
    position: relative;
    width: 100%;
    transform: rotate(0);
    padding-bottom: 40px;
  }

  .Reservas-resumenContent {
    min-width: auto;
    width: 100%;
  }
  .Reservas-resumenDiv {
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
}
