.TimeSlotsContainer {
  width: 100%;
  max-height: 300px; /* Altura fija para scroll */
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Scrollbar para Chrome, Edge y Safari */
.TimeSlotsContainer::-webkit-scrollbar {
  width: 22px; /* ancho del scroll */
}

.TimeSlotsContainer::-webkit-scrollbar-thumb {
  background-color: var(--main-color); /* color de la barra */
  border: 2px solid #f1f1f1; /* margen alrededor del thumb */
}

/* Scrollbar para Firefox */
.TimeSlotsContainer {
  scrollbar-width: 30px;
  scrollbar-color: white;
}

.TimeSlot {
  cursor: pointer;
  border-bottom: 1px solid var(--text-color);
  padding: 20px 12px;
  min-width: 200px;
  max-width: 610px;
  margin-right: 40px;
  background-color: white;
  transition:
    box-shadow 0.08s ease-in-out,
    background-color 0.08s ease-in-out,
    color 0.08s ease-in-out;
}

.TimeSlot:hover:not(.TimeSlot-selected):not(.TimeSlot-blocked) {
  box-shadow: 0 4px 12px #24257f34;
  background-color: #e1e1fa;
}

.TimeSlot:active {
  background-color: #ededfe;
}

.TimeSlot-selected {
  background-color: var(--main-color);
  color: white;
}

.TimeSlot-blocked {
  background-color: #777779;
}

.TimeSlot-blocked:hover {
  cursor: default;
}

.TimeSlot-blocked:active {
  background-color: #777779;
}
